.contact {
  &__container {
    @include page-grid;
  }
  &__massage {
    @include on-desktop {
      grid-column: 1 / 6;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 48px;
    text-decoration: none;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $text-color-contact;
  }

  &__input {
    width: 100%;
    background-color: rgba(248, 248, 250, 1);
    border: none;
    border-radius: 12px;
    padding: 18px 20px;
    font-size: 16px;
    color: $text-color-contact;
    outline: none;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }

  &__monospace {
    font-family: $font-family-monospace;
  }

  &__information {
    @include on-desktop {
      grid-column: 8 / 13;
    }

    &-item {
      padding-bottom: 24px;
    }
    &-label {
      font-family: $font-family-main;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $text-color-contact;
    }
    &-value {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      color: rgba(25, 25, 25, 1);
      font-family: $font-family-monospace;
      text-decoration: none;
    }
    &-addres {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      text-decoration: none;
      color: rgba(25, 25, 25, 1);
      font-family: $font-family-monospace;
    }
  }
  &__button {
    padding-bottom: 48px;
  }
}
