.product {
  &__title {
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    color: $main-color;
    line-height: 140%;
    text-align: left;
  }

  &__photo {
    width: 100%;
  }

  &__description {
    font-family: $font-family-description;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $main-color;
    text-align: left;
  }

  &__price {
    font-family: $font-family-main;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    line-height: 140%;
    color: $main-color;
    text-align: left;
    display: flex;
    align-items: center;
  }
}
