.header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url(../images/back-ground.png.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__title {
    margin: 0;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;
  }

  &__bottom {
    padding-bottom: 40px;

    @include content-pading-inline;
  }
}
