.header {
  height: 100vh;
  box-sizing: border-box;
  padding: 24px 20px 40px;
  background-image: url(../images/back-ground.png.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: flex;
    gap: $icon-gap;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;
  }
}
