.icon {
  display: inline-block;
  
  @include icons-size-height;
  @include icons-size-width;

  &--phone {
    background-image: url('../icons/icon-phone-call.png');
  }

  &--menu {
    background-image: url('../icons/icon-burger-menu.png');
  }

  &--close {
    background-image: url('../icons/icon-close.png');
  }
}

