.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $bg-color-menu;
  font-weight: 700;
  font-style: bold;


  &__content {
    @include content-pading-inline;
  }

  &__top{
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    text-decoration: none;
    color: $main-color;
    font-weight: 700;
    display: block;
    font-style: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__call-to-order {
    display: block;
    color: $main-color;
    width: fit-content;

    padding-bottom: 4px;
    border-bottom: 1px solid $main-color;

    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 140%;
  }
}
