
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include top-bar-pading-block;
  @include content-pading-inline;



  &__icons {
    display: flex;
    gap: $icon-mobile-gap;

    @media (min-width: 576px) {
      gap: $icon-tablet-gap;
    }
  }


  &__logo {
    display: flex;

    @include logo-size;
  }

}
