$icon-mobile-gap: 24px;
$icon-tablet-gap: 32px;
$icon-desktop-gap: 32px;
$icon-mobile-size: 24px;
$icon-tablet-size: 32px;
$pading-inline-mobile: 20px;
$pading-inline-tablet: 72px;
$pading-inline-desktop: 120px;
$pading-block-mobile: 24px;
$pading-block-tablet: 32px;
$header-pading-bottom-mobile: 40px;
$header-pading-bottom-tablet: 65px;
$header-pading-bottom-desktop: 96px;
$font-size-header-title-mobile: 36px;
$font-size-header-title-tablet: 48px;
$font-size-header-title-desktop: 56px;
$main-color: rgba(41, 41, 41, 1);
$bg-color-menu: rgba(229, 230, 232, 1);
