@mixin content-pading-inline() {
  padding-inline: $pading-inline-mobile;

  @media (min-width: 744px) {
    padding-inline: $pading-inline-tablet;
  }

  @media (min-width: 1200px) {
    padding-inline: $pading-inline-desktop;
  }

}

@mixin header-pading-bottom() {
  padding-bottom: $header-pading-bottom-mobile;

  @media (min-width: 744px) {
    padding-bottom: $header-pading-bottom-tablet;
  }

  @media (min-width: 1200px) {
    padding-bottom: $header-pading-bottom-desktop;
  }

}

@mixin top-bar-pading-block() {
  padding-block: $pading-block-mobile;

  @media (min-width: 744px) {
    padding-block: $pading-block-tablet;
  }
}

@mixin menu-top-margin-bottom() {
  margin-bottom: 32px;

  @media (min-width: 744px) {
    margin-bottom: 56px;
  }
}


@mixin menu-icon-burger() {
  height: 24px;
  width: 24px;
  background-image: url(../icons/icon-burger-menu-mobile.svg);

  @media (min-width: 744px) {
    height: 32px;
    width: 32px;
    background-image: url(../icons/icon-burger-menu-desktop.svg);
  }
}

@mixin phone-icon-call() {
  height: 24px;
  width: 24px;
  background-image: url(../icons/icon-phone-call-mobile.svg);

  @media (min-width: 744px) {
    height: 32px;
    width: 32px;
    background-image: url(../icons/icon-phone-call-desktop.svg);
  }
}

@mixin close-icon() {
  height: 24px;
  width: 24px;
  background-image: url(../icons/icon-close-mobile.svg);

  @media (min-width: 744px) {
    height: 32px;
    width: 32px;
    background-image: url(../icons/icon-close-desktop.svg);
  }
}
